@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');
body{
    font-family: 'Monda', sans-serif;
}


li{
    list-style: none;/*ทำให้จุดที่เกิดจากliหายไป*/
}

html{
    font-size: calc(60% + 0.8vmin);/*ย่อตามขนาดหน้าจอ*/
}

a{
    text-decoration: none;
}



.box{
    position: relative;
    display: block;
    background: #ffffff;
    border-radius: 15px;
    height: 220px;
    width: 100%;
    box-shadow: 0 2px 2px 1px rgba(159, 162, 177, 0.8);/*เงา*/
    border: 0;
}

button.box:hover{/*ดักจับเหต์การเมื่อเอาเมาส์วาง*/
    transform: scale(0.995);/*ย่อเมื่อเมาส์วางดูรูปแบบจากtiktok*/   

}

button.box:active {/*ดักจับเหต์การเมื่อกด*/
    background-color: #f8d89c;
    transform: scale(0.995);
  }

.edit{
    position: absolute;
    color: #ffffff;
    display: flex;/*30-32ทำให้อยู่ตรงกลาง*/
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    background: #F7D08A;
    bottom: 0;
    border-radius: 30px;
    border: 0;
}

.edit:hover{/*ดักจับเหต์การเมื่อเอาเมาส์วาง*/
    transform: scale(0.995);/*ย่อเมื่อเมาส์วางดูรูปแบบจากtiktok*/   

}

.edit:active {/*ดักจับเหต์การเมื่อกด*/
    background-color: #f0d4a0;
    transform: scale(0.995);
  }

 .imgpatient{
    width: 80px;
    margin:20px 0px 0px 20px;
    border-radius: 50px;
}

.plus{
    width: 80px;
    height: auto;
}

h5{
    color: #F7931E;
    position: absolute;
    font-size: 10px;
    top: 18px;
    left: 120px;
}

h6{
    color: #F7931E;
    position: absolute;
    font-size: 10px;
    top: 85px;
    left: 30px;
}
