.buttonchange{
    position: absolute;
    height: 35px;
    width: 70px;
    left: 90px;
    top: 90px;
    background: #FFEDD0;
    border-radius: 20px;
    border: none;
}

.buttonchange:hover{/*ดักจับเหต์การเมื่อเอาเมาส์วาง*/
    transform: scale(0.995);/*ย่อเมื่อเมาส์วางดูรูปแบบจากtiktok*/   

}

.buttonchange:active {/*ดักจับเหต์การเมื่อเอาเมาส์กด*/
    transform: scale(0.995);
  }

.circle{
    position: relative;
    height: 28px;
    width: 28px;
    left: 30px;
    top: 2px;
    background: #F1C376;
    border-radius: 50px;
}

.buttonchange p{
    position: relative;
    top: -32px;
    left: -15px;
    color: #F1C376;
}

